.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 12px;
  
    .tabs {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      position: fixed;
      bottom: 2%;
      right: 1%;
    }
  
    h1 {
      margin: 0;
      width: 100%;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 400;
      color: var(--detail-white);
    }
  
    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 12px;
      width: 1000px;
      height: auto;
  
      p {
        text-align: center;
        margin: 0;
        font-size: 2rem;
        font-weight: 200;
        color: var(--detail-white);
        width: 1000px;
        height: auto;
      }
    }
  
    section {
      display: none;
    }
  
    input {
      display: none;
    }
  
    label {
      display: inline-block;
      padding: 5px 5px;
      font-weight: 400;
      text-align: center;
      border-radius: 25px;
      background-color: var(--detail-white);
  
      &:hover {
        cursor: pointer;
      }
    }
  
    input[type="radio"] {
      &:checked + label {
        background-color: var(--detail-red);

        &[for*="1"]::before {
          content: "Tecnologias Trabalhadas";
          padding: 6px 16px;
        }

        &[for*="2"]::before {
          content: "Controle Financeiro";
          padding: 6px 16px;
        }

        &[for*="3"]::before {
          content: "Music Notes";
          padding: 6px 16px;
        }
      }
    }
  
    input:checked + label {
      border-radius: 25px;
      color: var(--detail-white);
      animation: fadeIn2 0.5s ease-in-out forwards;
    }
  
    span {
      display: inline-block;
      background-color: var(--detail-white);
      width: 200px;
      height: 1px;
    }
  
    .content {
      display: none;
  
      &.selected {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 16px;
        width: 100%;
        height: auto;
        animation: fadeIn1 0.5s ease-in-out forwards;
  
        p {
          text-align: center;
          margin: 0;
          font-size: 2rem;
          font-weight: 200;
          color: var(--detail-white);
          width: 100%;
          height: auto;
        }        
  
        .techs {
          width: 1000px;
          height: auto;
          text-align: center;
          color: var(--detail-white);

          span {
            margin: 4px;
            border: 1px solid var(--detail-white);
            border-radius: 24px;
            padding: 6px 16px;
            width: auto;
            height: auto;
            background-color: transparent;
            animation: fadeIn4 2s
              linear(
                0 0%,
                0 2.27%,
                0.02 4.53%,
                0.04 6.8%,
                0.06 9.07%,
                0.1 11.33%,
                0.14 13.6%,
                0.25 18.15%,
                0.39 22.7%,
                0.56 27.25%,
                0.77 31.8%,
                1 36.35%,
                0.89 40.9%,
                0.85 43.18%,
                0.81 45.45%,
                0.79 47.72%,
                0.77 50%,
                0.75 52.27%,
                0.75 54.55%,
                0.75 56.82%,
                0.77 59.1%,
                0.79 61.38%,
                0.81 63.65%,
                0.85 65.93%,
                0.89 68.2%,
                1 72.7%,
                0.97 74.98%,
                0.95 77.25%,
                0.94 79.53%,
                0.94 81.8%,
                0.94 84.08%,
                0.95 86.35%,
                0.97 88.63%,
                1 90.9%,
                0.99 93.18%,
                0.98 95.45%,
                0.99 97.73%,
                1 100%
              )
              forwards;

              &:hover {
                background-color: var(--detail-red);
                font-weight: 500;
                color: var(--detail-white);
                border: none;
                cursor: default;
                animation: fadeIn2 .5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
              }
          }
        }
      }
    }
  }
  
  @keyframes fadeIn1 {
    0% {
      opacity: 0;
      transform: translateX(0.5rem);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn2 {
    0% {
      opacity: 0;
      transform: translateY(0.5rem);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn3 {
    0% {
      opacity: 0;
      transform: translateX(-0.5rem);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn4 {
    0% {
      opacity: 0;
      transform: translateY(-0.5rem);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  