@import url(https://fonts.googleapis.com/css?family=Six+Caps);

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 16px;
  width: 400px;
  height: 500px;
  animation: fadeIn1 0.5s ease-in-out forwards;

  img {
    height: 400px;
    width: 400px;
  }

  .slogan {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      margin: 0;
      color: var(--detail-white);
      text-transform: uppercase;
      font-weight: 300;
      font-size: 3rem;
      font-family: "Six Caps", sans-serif;
      letter-spacing: 3px;

      width: 216px;
      animation: typing 1.5s steps(22), blink 0.5s step-end infinite;
      white-space: nowrap;
      overflow: hidden;
      border-right: 1px solid;
    }
  }

  .menu {
    position: relative;
    top: 2px;
    z-index: 500;
    height: auto;
    border-radius: 24px;
    overflow: hidden;
    transition: all 0.5s ease;

    & > * {
      float: left;
    }
  }

  input[type="checkbox"] {
    display: block;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    margin: 0;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;

    &:checked ~ span {
      rotate: 180deg;

      &::before {
        color: var(--secondary);
      }
    }

    &:checked ~ ul {
      width: 110px;
      border: 2px solid var(--secondary);
    }
  }

  span {
    position: absolute;
    top: 11px;
    left: 11px;
    transition: all 0.5s ease;

    &::before {
      font-size: 24px;
      color: var(--primary);
    }

    &:hover {
      rotate: 360deg;
    }
  }

  ul {
    border-radius: 24px;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 48px;
    height: 48px;
    width: 0px;
    transition: 0.8s width
      linear(
        0 0%,
        0 2.27%,
        0.02 4.53%,
        0.04 6.8%,
        0.06 9.07%,
        0.1 11.33%,
        0.14 13.6%,
        0.25 18.15%,
        0.39 22.7%,
        0.56 27.25%,
        0.77 31.8%,
        1 36.35%,
        0.89 40.9%,
        0.85 43.18%,
        0.81 45.45%,
        0.79 47.72%,
        0.77 50%,
        0.75 52.27%,
        0.75 54.55%,
        0.75 56.82%,
        0.77 59.1%,
        0.79 61.38%,
        0.81 63.65%,
        0.85 65.93%,
        0.89 68.2%,
        1 72.7%,
        0.97 74.98%,
        0.95 77.25%,
        0.94 79.53%,
        0.94 81.8%,
        0.94 84.08%,
        0.95 86.35%,
        0.97 88.63%,
        1 90.9%,
        0.99 93.18%,
        0.98 95.45%,
        0.99 97.73%,
        1 100%
      );
  }

  li {
    display: inline-block;
    line-height: 50px;
    width: 32px;
    text-align: center;
    margin: 0;

    i {
      font-size: 20px;
      text-decoration: none;
      color: var(--detail-white);
      cursor: pointer;

      &:hover {
        transition: all 0.3s ease;
        color: var(--primary);
      }
    }
  }
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
