.container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 0.5% 99% 0.5% repeat(3, 1fr);
  grid-template-rows: 1% 8% 90% 1%;
  grid-template-areas:
    "margin-left margin-top margin-right"
    "margin-left header margin-right"
    "margin-left info margin-right"
    "margin-left margin-bottom margin-right";

  .custom_navbar {
    width: 100%;
    height: 100%;
    grid-area: header;

    .logo {
      display: inline-block;
      cursor: pointer;

      &:hover {
        transform: translateY(1px);
      }

      img {
        height: 50px;
      }
    }

    .navbarlinks {
      float: right;
      text-transform: uppercase;
    }

    .nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
    }

    .nav p {
      position: relative;
    }

    .itemNav {
      float: left;
      padding: 0px 16px;
    }

    .itemNav p {
      display: block;
      color: var(--detail-white);
      text-align: center;
      text-decoration: none;
      letter-spacing: 0.5px;
      font-size: 16px;
      margin: 0;

      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      transition: color 0.3s;

      &:hover {
        cursor: pointer;
        color: var(--primary);
      }

      &.active{
        color: var(--secondary);
        cursor: default;
        text-decoration: line-through;
      }

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        color: transparent;
        content: "•";
        text-shadow: 0 0 transparent;
        font-size: 1.5rem;
        -webkit-transition: text-shadow 0.3s, color 0.3s;
        -moz-transition: text-shadow 0.3s, color 0.3s;
        transition: text-shadow 0.3s, color 0.3s;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        pointer-events: none;
      }

      &:hover::before,
      &.active::before {
        color: var(--primary);
        text-shadow: 10px 0 var(--primary), -10px 0 var(--primary);
        cursor: default;
      }
    }
  }

  .info {
    width: 100%;
    height: 100%;
    grid-area: info;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
