:root{
  --background: #20262F;
  --primary: #2158AA;
  --secondary: #333F50;
  --detail-white: #E5E5E5;
  --detail-red: #722121;
  --detail-gray: #3B3E42;
}

body {
  background: var(--background);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

body #root {
  width: 100%;
  height: 100vh;
}